#socket files
/noVNC/sockets/
/xtermjs/sockets/

#node modules
*/node_modules/

#creds
/creds/

#screenlogs
*screenlog.0*

#pycache
*__pycache__*

#temp folder
/tmp/

#Файл phpsessid с правилами в контейнерах докер
/docker/*/etc/nginx/conf.d/sessid

#logs
/log/
/logs/

#access
/access/users/
/access/groups/
