#socket files
/noVNC/sockets/
/xtermjs/sockets/

#node modules
*/node_modules/

#creds
/creds/

#screenlogs
*screenlog.0*

#pycache
*__pycache__*

#temp folder
/tmp/

#sessid file with validating rules
/docker/*/etc/nginx/conf.d/sessid

#logs
/log/
/logs/

#access
/access/users/
/access/groups/
/access/users/admin/*

#deploy
/devops/templates/
/devops/deploys/
/devops/actions/

#certs
#/docker/xtermnginx/etc/nginx/ssl
