#creds
/creds/

#cld modules generated data
/modules/*/data/

#local files
*.local
*.local/*

#temp folder
/tmp/

#logs
/log/
/logs/

#access
/access/users/
/access/groups/
/access/users/admin/*

#modules
/modules/*
!/modules/access/
!/modules/spamcheck/
!/modules/doc/
!/modules/dns/
!/modules/lead/
!/modules/note/
!/modules/etcbackup/
!/modules/filemanager/
!/modules/telegramcloud/
!/modules/zabbixcontrol/

#deploy
/deploy/templates/*
/deploy/deploys/*
/deploy/actions/*
/deploy/repo_list
/devops/

#certs
/docker/xtermnginx/etc/nginx/ssl

#security
/api/accesslist

#web
/web/modules/*
/web/flask_session/*
#legacy simlink
/ext_srv

#socket files
/noVNC/sockets/
/xtermjs/sockets/

#cloudmaker module
/cm/data/
/cm/tmp/
/cm/LOCK

#sessid file with validating rules
/docker/*/etc/nginx/conf.d/sessid

#node modules
*/node_modules/

#screenlogs
*screenlog.0*

#pycache
*__pycache__*
