<html lang="en">
   <head>
      <title>cld web - cloud manager</title>
      {% include 'html/include/head.html' %}
   </head>
   <link href="/modules/cm/content/cm.css" rel="stylesheet">
   <script type="text/javascript" src="/modules/cm/content/cm.js"></script>
   <body>
      <div class="page-container">
         <!-- top navbar -->
         {% include 'html/include/navbar-term.html' %}
         <div class="container term">
            <div class="row row-offcanvas row-offcanvas-left">
               <!-- sidebar -->
               <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="width: 18%;">
                  <input type="text" id="searchInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name">
                  <ul class="nav" id="ServerListUl">
                     {% for cld_dict in cld_clouds %}
                     <li><span><a onclick='newhprtab("{{ cld_dict['hypervisor'] }}")' class="nav-link active" id="{{ cld_dict['hypervisor'] }}-link" data-toggle="tab" href="#{{ cld_dict['hypervisor'] }}">host: {{ cld_dict['hypervisor'] }}</a></span></li>
                     <!--                             <li><span>host: {{ cld_dict['hypervisor'] }}</span></li> -->
                     {% for cld_cloud in cld_dict['instances'] %}
                     {% if cld_cloud.status == 'running' %}
                     {% set color = 'limegreen' %}
                     {% elif cld_cloud.status == 'stopped' %}
                     {% set color = 'orangered' %}
                     {% else %}
                     {% set color = 'violet' %}
                     {% endif %}
                     <li><a onclick='newtab("{{ cld_cloud.name }}", "{{ cld_cloud.id }}", "{{ cld_cloud.status }}", "{{ cld_cloud.cores }}", "{{ cld_cloud.ram }}", "{{ cld_cloud.disk }}", "{{ cld_cloud.whiteips }}", "{{ cld_cloud.grayips }}", "{{ cld_dict['hypervisor'] }}")' class="nav-link active" id="{{ cld_cloud.name }}-link" data-toggle="tab" href="#{{ cld_cloud.name }}"><span style="color: {{ color }};">● </span>{{ cld_cloud.name }} {{ cld_cloud.whiteips }}</a></li>
                     {% endfor %}
                     {% endfor %}
                  </ul>
               </div>
               <!-- main area -->
               <div class="col-xs-12 col-sm-9" style="width: 82%;">
                  <ul class="nav nav-tabs" id="hostTab" role="tablist">
                     <li class="nav-item active">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" aria-expanded="true">Home</a>
                     </li>
                  </ul>
                  <div class="tab-content" id="hostTabContent">
                     <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">ClassicDevOps - cloud manager</div>
                  </div>
               </div>
               <!-- /.col-xs-12 main -->
            </div>
            <!--/.row-->
         </div>
         <!--/.container-->
      </div>
      <!--/.page-container-->
   </body>
</html>