<html lang="en">
   <head>
      <title>cld web - classic deploy</title>
      {% include 'html/include/head.html' %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/ace.js" type="text/javascript" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/keybinding-sublime.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
   </head>
   <link href="/modules/deploy/content/deploy.css" rel="stylesheet">
   <script type="text/javascript" src="/modules/deploy/content/deploy.js"></script>
     <script>
     var cld_domain = "{{ cld_domain }}";
     var userapitoken = "{{ userapitoken }}";
     $(".prelink").click(function(e){
     e.stopPropagation();
     });
    </script>
   <body>
      <div class="page-container">
         <!-- top navbar -->
         {% include 'html/include/navbar-term.html' %}
         <div class="container term">
            <div class="row row-offcanvas row-offcanvas-left">
               <!-- sidebar -->
               <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="width: 15%;">
                  <input type="text" id="searchInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name">
                  <ul class="nav" id="ServerListUl">
                     <li><a onclick='newdirecttab("bash")' class="nav-link active" id="bash-link" data-toggle="tab" href="#bash">classicdeploy terminal</a></li>
                     {% for deploy_dict in deploys %}
                     <li id="{{ deploy_dict['type'] }}"><span><a onclick='newdeploytab("cld-{{ deploy_dict['type'][:-1] }}")' class="nav-link active" id="{{ deploy_dict['type'][:-1] }}-link" data-toggle="tab" href="#{{ deploy_dict['type'][:-1] }}">type: {{ deploy_dict['type'] }}</a></span></li>
                     {% for deploy in deploy_dict['content'] %}
                     <li id="{{ deploy_dict['type'] }}-{{ deploy }}"><a onclick='newtab("{{ deploy }}", "{{ deploy_dict['type'] }}")' class="nav-link active" id="{{ deploy }}-link" data-toggle="tab" href="#{{ deploy }}">{{ deploy }}</a></li>
                     {% endfor %}
                     {% endfor %}
                  </ul>
               </div>
               <!-- main area -->
               <div class="col-xs-12 col-sm-9" style="width: 85%;">
                  <ul class="nav nav-tabs" id="hostTab" role="tablist">
                     <li class="nav-item active">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" aria-expanded="true">Home</a>
                     </li>
                  </ul>
                  <div class="tab-content" id="hostTabContent">
                     <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
                        Classic deploy<br><br><br>
                        Create template<br>
                        <form style="display: -webkit-inline-box;" onsubmit="newtab(document.getElementById('inputtemplatename').value.replaceAll(' ', '_'), 'templates');return false;">
                           <input type="text" class="form-control" id="inputtemplatename" placeholder="New template name" style="width: 60%;padding-top: 3;" required="">
                           <button type="submit" class="btn btn-primary" style="margin-left: -5; border-radius: 0px 4px 4px 0px;">Create</button>
                        </form>
                        <br><br>
                        Create deploy<br>
                        <form style="display: -webkit-inline-box;" onsubmit="newtab(document.getElementById('inputdeployname').value.replaceAll(' ', '_'), 'deploys');return false;">
                           <input type="text" class="form-control" id="inputdeployname" placeholder="New deploy name" style="width: 60%;padding-top: 3;" required="">
                           <button type="submit" class="btn btn-primary" style="margin-left: -5; border-radius: 0px 4px 4px 0px;">Create</button>
                        </form>
                     </div>
                  </div>
               </div>
               <!-- /.col-xs-12 main -->
            </div>
            <!--/.row-->
         </div>
         <!--/.container-->
      </div>
      <!--/.page-container-->
   </body>
</html>