<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>cld web - admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
    <style type="text/css">
    /* This is not a zero-length file! */
    </style>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script type="text/javascript" src="../js/tablesort.js"></script>
    <style>
        .ad {
        position: absolute;
        bottom: 70px;
        right: 48px;
        z-index: 992;
        background-color: white;
        position: fixed;
        width: 155px;
        padding: 1px;
    }

    .ad-btn-hide {
        position: absolute;
        top: -10px;
        left: -12px;
        background: #fefefe;
        background: rgba(240, 240, 240, 0.9);
        border: 0;
        border-radius: 26px;
        cursor: pointer;
        padding: 2px;
        height: 25px;
        width: 25px;
        font-size: 14px;
        vertical-align: top;
        outline: 0;
    }

    .carbon-img {
        float: left;
        padding: 10px;
    }

    .carbon-text {
        color: #888;
        display: inline-block;
        font-family: Verdana;
        font-size: 11px;
        font-weight: 400;
        height: 60px;
        margin-left: 9px;
        width: 142px;
        padding-top: 10px;
    }

    .carbon-text:hover {
        color: #666;
    }

    .carbon-poweredby {
        color: #6A6A6A;
        float: left;
        font-family: Verdana;
        font-size: 11px;
        font-weight: 400;
        margin-left: 10px;
        margin-top: 13px;
        text-align: center;
    }
    </style>
</head>

<body>
    <div class="page-container">
        <!-- top navbar -->
{% include 'html/include/navbar.html' %}
        <div class="container">
            <!-- sidebar -->
            <div class="panel-group" id="accordion" style="padding-top: 25;">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Users</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table style="font-weight: 300;width:100%;" id="opened" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr style="cursor: pointer;">
                                        <td>#</td>
                                        <td style="width: 35%%">User</td>
                                        <td>Role</td>
                                        <td>Groups</td>
                                        <td>Last login</td>
                                        <td style="width: 92;">Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    {% if user.status == '1' %}{% set status = 'Active' %}{% set style = 'success' %}{% set link = url_for('disableuser', name=user.user) %}{% elif user.status == '0' %}{% set status = 'Deactivated' %}{% set link = url_for('enableuser', name=user.user) %}{% set style = 'warning' %}{% else %}{% set status = 'Undefined' %}{% set statusstyle = 'success' %}{% endif %}
                                    {% if user.role == '1' %}{% set role = 'Administrator' %}{% elif user.role == '0' %}{% set role = 'Member' %}{% else %}{% set role = 'Undefined' %}{% endif %}
                                    <tr>
                                        <td>{{ user.userid }}</td>
                                        <td><a href="{{ url_for('user', name=user.user) }}">{{ user.user }}</a></td>
                                        <td>{{ role }}</td>
                                        <td>{{ user.groups }}</td>
                                        <td>{{ user.lastlogin }}</td>
                                        <td> <a href="{{ link }}" class="btn-sm btn-{{ style }}" data-toggle="tooltip" '="" data-original-title="" title="">{{ status }}</a></td>
                    </tr>
                    {% endfor %}
                                </tbody>
                            </table>
                            <form method="POST" action="/adduser" class="form-inline" style="float: right;">  
<div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" name="newuser" placeholder="New user">
  </div><div class="form-group mx-sm-3 mb-2">
    <input type="password" class="form-control" name="newpass" placeholder="New password" autocomplete="new-password">
  </div>
  <button type="submit" class="btn btn-light bt mb-2 ">Add user</button>
</form>
                        </div>
                    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" style="cursor:pointer;">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Groups</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table style="font-weight: 300;width:100%;" id="opened" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr style="cursor: pointer;">
                                        <td>Name</td>
                                        <td style="width: 35%%">Group users</td>
                                        <td>Cloud count</td>
                                        <td>Type</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in groups %}

                                    <tr>
                                        <td><a href="{{ url_for('group', name=group.group) }}">{{ group.group }}</a></td>
                                        <td>{{ group.groupusers }}</td>
                                        <td>{{ group.cloudcount }}</td>
                                        <td>{{ group.grouptype }}</td>
                    </tr>
                    {% endfor %}
                                </tbody>
                            </table>
                            <form method="POST" action="{{ url_for('addgroup') }}" class="form-inline" style="float: right;">  
<div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" name="newgroup" placeholder="New group">
  </div>
  <button type="submit" class="btn btn-light bt mb-2 ">Add group</button>
</form>
                        </div>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" style="cursor:pointer;">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Configuration</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/ace.js" type="text/javascript" charset="utf-8"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/keybinding-sublime.min.js"></script>
            <script>
            var editor = [];
            function aceactivate(file)
            {
            ace.edit(file+'Pre', {
                theme: "ace/theme/monokai",
                keyboardHandler: "ace/keyboard/sublime",
                foldStyle: "markbeginend",
                mode: "ace/mode/autohotkey",
                maxLines: 40,
                minLines: 5,
                wrap: true,
                showPrintMargin: false,
                autoScrollEditorIntoView: true,
                highlightSelectedWord: true
            });
            editor[file+'Pre'] = ace.edit(file+'Pre');
            editor[file+'Pre'].renderer.setScrollMargin(10, 15, 0, 0);
            $('#'+file+'Area').val(editor[file+'Pre'].getSession().getValue());
            editor[file+'Pre'].getSession().on('change', function () {
               $('#'+file+'Area').val(editor[file+'Pre'].getSession().getValue());
            });
            }
            function sleep (time) {
              return new Promise((resolve) => setTimeout(resolve, time));
            }
            function savefile(id, url) {
                    $.ajax({
                        url : url,
                        type: "POST",
                        data : $('#'+id).serialize(),
                        cache: false,
                        processData:false,
                        success: function (data) {
                            $('#'+id+'-button').addClass('btn-success').removeClass('btn-primary');
                            sleep(500).then(() => {
                            $('#'+id+'-button').addClass('btn-primary').removeClass('btn-success');
                            });
                            console.log('File saved');
                            },
                        error: function (data) {
                            $('#'+id+'-button').addClass('btn-danger').removeClass('btn-primary');
                            sleep(500).then(() => {
                            $('#'+id+'-button').addClass('btn-primary').removeClass('btn-danger');
                            });
                            console.log('An error occurred while saving data');
                            }
                    })

            }
            </script>

            {% for file in files %}
            {% set fileid = file.replace('/', '_').replace('.', '_') %}
            <form id="{{ fileid }}">
            <textarea id="{{ fileid }}Name" name="file" style="display: none;">{{ file }}</textarea>
            <textarea id="{{ fileid }}Area" name="content" style="display: none;"></textarea>
            </form>
            <div class="prefile">{{ file }}</div>
            <pre id="{{ fileid }}Pre">{{ files[file] }}</pre>
            <button id="{{ fileid }}-button" onclick="savefile('{{ fileid }}', '{{ url_for('adminsavefile') }}')" class="btn btn-primary bt mb-2">Save {{ file }}</button><br><br>
            <script>
                aceactivate('{{ fileid }}')
            </script>
            {% endfor %}
        </div>
    </div>
  </div>
</div>

            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.page-container-->

</body>

</html>