<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>cld web - admin - group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
    <style type="text/css">
    /* This is not a zero-length file! */
    </style>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script type="text/javascript" src="../js/tablesort.js"></script>

</head>

<body>
    <div class="page-container">
        <!-- top navbar -->
{% include 'html/include/navbar.html' %}
        <div class="container">
            <div class="panel-body">
                            <table style="font-weight: 300;width:100%;" id="opened" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr style="cursor: pointer;">
                                        <td>Name</td>
                                        <td style="width: 35%%">Group users</td>
                                        <td>Cloud count</td>
                                        <td>Type</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in groups %}

                                    <tr>
                                        <td><a href="{{ url_for('group', name=group.group) }}">{{ group.group }}</a></td>
                                        <td>{{ group.groupusers }}</td>
                                        <td>{{ group.cloudcount }}</td>
                                        <td>{{ group.grouptype }}</td>
                    </tr>
                    {% endfor %}
                                </tbody>
                            </table>
                <div class="panel-body">
<p>{{ groups[0].group }} users:</p>
                    <form action="{{ url_for('groupusers', name=groups[0].group) }}" method="POST">
{% for user in allusers %}
{% if user in groups[0].groupusers %}{% set boxstatus = ' checked' %}{% else %}{% set boxstatus = '' %}{% endif %}
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" name="{{ user }}"{{ boxstatus }}>
  <label class="form-check-label">{{ user }}</label>
</div>
{% endfor %}
<button type="submit" class="btn btn-light bt mb-2" style="float: right">Apply users</button>
</form><br>
<p>{{ groups[0].group }} clouds:</p>
<div class="subject-info-box-1">
    <script type="text/javascript">
    function selectAll() 
    { 
        selectBox = document.getElementById("lstBox1");

        for (var i = 0; i < selectBox.options.length; i++) 
        { 
             selectBox.options[i].selected = true; 
        } 
    }
</script>
<form action="{{ url_for('groupclouds', name=groups[0].group) }}" id="groupclouds" method="POST">
  <select multiple size="1" name="allowclouds" id='lstBox1' class="content-info-box form-control">
    {% for cloud in allowedclouds %}
    <option value="{{ cloud }}">{{ cloud }}</option>
    {% endfor %}
  </select>
</form>
</div>
<div class="subject-info-arrows text-center">
  <input type="button" id="btnAllRight" value=">>" class="btn btn-default" /><br />
  <input type="button" id="btnRight" value=">" class="btn btn-default" /><br />
  <input type="button" id="btnLeft" value="<" class="btn btn-default" /><br />
  <input type="button" id="btnAllLeft" value="<<" class="btn btn-default" />
</div>
<div class="subject-info-box-2">
  <select multiple="multiple" id='lstBox2' class="content-info-box form-control">
    {% for cloud in disallowedclouds %}
    <option value="{{ cloud }}">{{ cloud }}</option>
    {% endfor %}
  </select>

</div>
  <br>
<div class="clearfix"></div><br>
  <button type="submit" class="btn btn-light bt mb-2" style="float: right" onclick="selectAll();" form="groupclouds">Apply clouds</button>
<br><br>
{% if groups[0].grouptype == 'manual' %}{% set typestatus = ' disabled' %}{% set typeboxstatus = '' %}{% else %}{% set typestatus = '' %}{% set typeboxstatus = ' checked' %}{% endif %}
<form action="{{ url_for('grouptype', name=groups[0].group) }}" id="grouptype" method="POST">
Parsing group <input type="checkbox" id="GroupTypeCheckbox" name="grouptype"{{typeboxstatus}}> <br><br>
Parsing script: <br>
<textarea{{typestatus}} id="ScriptArea" name="parsingscript" class="form-control" rows="4" style="resize: none">{{parsingscript}}</textarea>
<br>
<button type="submit" class="btn btn-light bt mb-2" style="float: right" form="grouptype">Apply type</button>

<script>
document.getElementById('GroupTypeCheckbox').addEventListener( 'click', function(){
    var textArea = document.getElementById('ScriptArea')
    textArea.disabled = !textArea.disabled
});
</script>
<script>
    $('#ScriptArea').keyup(function(){
    $(this).height(100);
    $(this).height(this.scrollHeight);
});
</script>
</form>
<br><br>
{% if groups[0].groupfuncs == 'default' %}{% set funcstatus = ' disabled' %}{% set typeboxstatus = '' %}{% else %}{% set funcstatus = '' %}{% set typeboxstatus = ' checked' %}{% endif %}
<form action="{{ url_for('groupfuncs', name=groups[0].group) }}" id="groupfuncs" method="POST">
Manual functions <input type="checkbox" id="GroupFuncsCheckbox" name="groupfuncs"{{typeboxstatus}}> <br><br>
Define variables: <br>
<textarea{{funcstatus}} id="FuncVarsArea" name="groupfuncvars" class="form-control" rows="4" style="resize: none">{{groupfuncvars}}</textarea>
<br>
Terminal  function: <br>
<textarea{{funcstatus}} id="FuncTermArea" name="groupfuncterm" class="form-control" rows="4" style="resize: none">{{groupfuncterm}}</textarea>
<br>
Mount  function: <br>
<textarea{{funcstatus}} id="FuncMountArea" name="groupfuncmount" class="form-control" rows="4" style="resize: none">{{groupfuncmount}}</textarea>
<br>
Umount  function: <br>
<textarea{{funcstatus}} id="FuncUmountArea" name="groupfuncumount" class="form-control" rows="4" style="resize: none">{{groupfuncumount}}</textarea>
<br>
Deploy  function: <br>
<textarea{{funcstatus}} id="FuncDeployArea" name="groupfuncdeploy" class="form-control" rows="4" style="resize: none">{{groupfuncdeploy}}</textarea>
<br>
Deploy no tty  function: <br>
<textarea{{funcstatus}} id="FuncDeploynottyArea" name="groupfuncdeploynotty" class="form-control" rows="4" style="resize: none">{{groupfuncdeploynotty}}</textarea>
<br>
<button type="submit" class="btn btn-light bt mb-2" style="float: right" form="groupfuncs">Apply functions</button>

<script>
document.getElementById('GroupFuncsCheckbox').addEventListener( 'click', function(){
    var FuncVarsArea = document.getElementById('FuncVarsArea')
    var FuncTermArea = document.getElementById('FuncTermArea')
    var FuncMountArea = document.getElementById('FuncMountArea')
    var FuncUmountArea = document.getElementById('FuncUmountArea')
    var FuncDeployArea = document.getElementById('FuncDeployArea')
    var FuncDeploynottyArea = document.getElementById('FuncDeploynottyArea')
    FuncVarsArea.disabled = !FuncVarsArea.disabled
    FuncTermArea.disabled = !FuncTermArea.disabled
    FuncMountArea.disabled = !FuncMountArea.disabled
    FuncUmountArea.disabled = !FuncUmountArea.disabled
    FuncDeployArea.disabled = !FuncDeployArea.disabled
    FuncDeploynottyArea.disabled = !FuncDeploynottyArea.disabled
});
</script>
<script>
    $('#FuncVarsArea').keyup(function(){
    $(this).height(100);
    $(this).height(this.scrollHeight);
});
    $('#FuncTermArea').keyup(function(){
    $(this).height(100);
    $(this).height(this.scrollHeight);
});
    $('#FuncMountArea').keyup(function(){
    $(this).height(100);
    $(this).height(this.scrollHeight);
});
    $('#FuncUnountArea').keyup(function(){
    $(this).height(100);
    $(this).height(this.scrollHeight);
});
    $('#FuncDeployArea').keyup(function(){
    $(this).height(100);
    $(this).height(this.scrollHeight);
});
    $('#FuncDeploynottyArea').keyup(function(){
    $(this).height(100);
    $(this).height(this.scrollHeight);
});
</script>
</form>
<br><br><br>
  <br><a href="{{ url_for('delgroup', name=groups[0].group) }}" style="float: right;"><button type="submit" class="btn btn-danger bt mb-2">Delete group</button></a>
<!-- </form> -->
</div>
</div>
<!-- sidebar -->

<!--/.row-->
</div>
<!--/.container-->
</div>
<!--/.page-container-->
    <script type="text/javascript">
(function () {
    $('#btnRight').click(function (e) {
        var selectedOpts = $('#lstBox1 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#lstBox2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });
    $('#btnAllRight').click(function (e) {
        var selectedOpts = $('#lstBox1 option');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#lstBox2').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });
    $('#btnLeft').click(function (e) {
        var selectedOpts = $('#lstBox2 option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#lstBox1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });
    $('#btnAllLeft').click(function (e) {
        var selectedOpts = $('#lstBox2 option');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        $('#lstBox1').append($(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });
}(jQuery));
</script>
</body>

</html>