<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>cld web - home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
    <style type="text/css">
    /* This is not a zero-length file! */
    </style>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
</head>

<body>
    <div class="page-container">
        <!-- top navbar -->
{% include 'html/include/navbar.html' %}
        <div class="container">
            <!-- sidebar -->
<br>
<div class="panel-group" id="accordion" style="padding-top: 25;">
<div class="paymentWrap">
    
<div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">

<label class="btn paymentMethod">
<a href="{{ url_for('terminal') }}" onclick="window.location.href = '{{ url_for('terminal') }}';">
<div class="method visa" style="border-radius: 3px;text-align: center;">
<br>
<img src="../img/shell.svg" style="height: 80;">
<br>
<span style="color:#177ddb;font-size:1.4rem;font-weight: 300;">Terminal</span>
<hr class="pricer" style="margin-top:10px;margin-bottom:6px;">
<span style="color:#b5b5b5;font-size:1.4rem;font-weight: 100;"><br>Web terminal and file manager</span>
</div>
</a>
</label>

<label class="btn paymentMethod">
<a href="{{ url_for('toolkit') }}" onclick="window.location.href = '{{ url_for('toolkit') }}';">
<div class="method visa" style="border-radius: 3px;text-align: center;">
<br>
<img src="../img/geck.svg" style="height: 80;">
<br>
<span style="color:#177ddb;font-size:1.4rem;font-weight: 300;">Toolkit</span>
<hr class="pricer" style="margin-top:10px;margin-bottom:6px;">
<span style="color:#b5b5b5;font-size:1.4rem;font-weight: 100;"><br>G.E.C.K.</span>
</div>
</a>
</label>

<label class="btn paymentMethod">
<a href="{{ url_for('profile') }}"  onclick="window.location.href = '{{ url_for('profile') }}';">
<div class="method visa" style="border-radius: 3px;text-align: center;">
<br>
<img src="../img/profile.svg" style="height: 80;">
<br>
<span style="color:#177ddb;font-size:1.4rem;font-weight: 300;">Profile</span>
<hr class="pricer" style="margin-top:10px;margin-bottom:6px;">
<span style="color:#b5b5b5;font-size:1.4rem;font-weight: 100;"><br>Profile settings</span>
</div>
</a>
</label>

{% if modules is defined %}
{% for module in modules %}
<label class="btn paymentMethod">
<a href="/{{ module }}"  onclick="window.location.href = '/{{ module }}';">
<div class="method visa" style="border-radius: 3px;text-align: center;">
<br>
<img src="../{{ modules[module][logo] }}" style="height: 80;">
<br>
<span style="color:#177ddb;font-size:1.4rem;font-weight: 300;">{{ modules[module][homename] }}</span>
<hr class="pricer" style="margin-top:10px;margin-bottom:6px;">
<span style="color:#b5b5b5;font-size:1.4rem;font-weight: 100;"><br>{{ modules[module][desc] }}</span>
</div>
</a>
</label>
{% endfor %}
{% endif %}

{% if isadmin == True %}
<label class="btn paymentMethod">
<a href="{{ url_for('admin') }}" onclick="window.location.href = '{{ url_for('admin') }}';">
<div class="method visa" style="border-radius: 3px;text-align: center;">
<br>
<img src="../img/administration.svg" style="height: 80;">
<br>
<span style="color:#177ddb;font-size:1.4rem;font-weight: 300;">Administration</span>
<hr class="pricer" style="margin-top:10px;margin-bottom:6px;">
<span style="color:#b5b5b5;font-size:1.4rem;font-weight: 100;"><br>User and groups managing</span>
</div>
</a>
</label>
{% endif %}

{% if isadmin == True %}
<label class="btn paymentMethod">
<a href="/tool/cld-modulecreate" onclick="window.open('/tool/cld-modulecreate');" target="_blank">
<div class="method visa" style="border-radius: 3px;text-align: center;">
<br><br>
<img src="../img/plus.svg" style="height: 80;">
<br>
<span style="color:#177ddb;font-size:1.4rem;font-weight: 300;"><br>Create module</span>
</div>
</a>
</label>
{% endif %}               
                            </div>      
                        
                        </div>
            </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.page-container-->
</body>

</html>