<html lang="en">
  <head>
    <title>cld web - profile</title>
    {% include 'html/include/head.html' %}
  </head>
  <body>
    <div class="page-container">
      <!-- top navbar -->
      {% include 'html/include/navbar.html' %}
      <div class="container">
        <!-- sidebar -->
        <div class="panel-group" id="accordion" style="padding-top: 25;">
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" style="cursor:pointer;">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Clouds</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <pre>{{clouds}}</pre>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" style="cursor:pointer;">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Profile</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="panel-body">
                <table style="font-weight: 300;width:100%;" id="opened" class="table table-striped" cellspacing="0" width="100%">
                  <thead>
                    <tr style="cursor: pointer;">
                      <td style="width: 35%%">User</td>
                      <td>Telegram ID</td>
                      <td>Api token</td>
                      <td>Modules</td>
                      <td>Tools</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ perms[0] }}</td>
                      <td>{{ perms[1] }}</td>
                      <td>{{ perms[2] }}</td>
                      <td>{{ perms[3] }}</td>
                      <td>{{ perms[4] }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" style="cursor:pointer;">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Password</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                <form class="pure-form">
                  <fieldset>
                    <legend>Change password</legend>
                    <input type="password" placeholder="New password" id="password" required>
                    <input type="password" placeholder="Confirm Password" id="confirm_password" required>
                    <button type="submit" class="pure-button pure-button-primary">Change</button>
                  </fieldset>
                </form>
                <script>
                  var password = document.getElementById("password");
                  var confirm_password = document.getElementById("confirm_password");
                  
                  function validatePassword(){
                    if(password.value != confirm_password.value) {
                      confirm_password.setCustomValidity("Passwords Don't Match");
                    } else {
                      confirm_password.setCustomValidity('');
                    }
                  }
                  
                  password.onchange = validatePassword;
                  confirm_password.onkeyup = validatePassword;
                </script>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" style="cursor:pointer;">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                Visible web modules</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">
            <p>Modules:</p>
            <script>
              function savedata(id, url) {
                      $.ajax({
                          url : url,
                          type: "POST",
                          data : $('#'+id).serialize(),
                          cache: false,
                          processData:false,
                          success: function (data) {
                              $('#'+id+'-button').addClass('btn-success').removeClass('btn-primary');
                              sleep(500).then(() => {
                              $('#'+id+'-button').addClass('btn-primary').removeClass('btn-success');
                              });
                              console.log('Data saved');
                              },
                          error: function (data) {
                              $('#'+id+'-button').addClass('btn-danger').removeClass('btn-primary');
                              sleep(500).then(() => {
                              $('#'+id+'-button').addClass('btn-primary').removeClass('btn-danger');
                              });
                              console.log('An error occurred while saving data');
                              }
                      })
              
              }
            </script>
            <form id="usergroups" style="margin: 0px;">
              {% for module in modules %}
              {% if module in visiblemodules %}{% set boxstatus = ' checked' %}{% else %}{% set boxstatus = '' %}{% endif %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="{{ module }}"{{ boxstatus }}>
                <label class="form-check-label">{{ module }}</label>
              </div>
              {% endfor %}
            </form>
            <button id="usergroups-button" onclick="savedata('usergroups', '{{ url_for('profile_set_visible_modules', name=username) }}')" class="btn btn-primary bt mb-2" style="float: right">Apply modules</button>
              </div>
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
    <!--/.page-container-->
  </body>
</html>