<html lang="en">
   <head>
      <title>CLD Web - Terminal</title>
      {% include 'html/include/head.html' %}
   </head>
   <script type="text/javascript" src="/js/terminal.js"></script>
   <body>
      <div class="page-container">
         <!-- top navbar -->
         {% include 'html/include/navbar-term.html' %}
         <div class="container term">
            <div class="row row-offcanvas row-offcanvas-left">
               <!-- sidebar -->
               <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                  <input type="text" id="searchInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name">
                  <ul class="nav" id="ServerListUl">
                     <li><a onclick='newtab("bash/", "terminal")' class="nav-link active" id="bash-link" data-toggle="tab" href="#bash">classicdevops terminal</a></li>
                     {% for cld_dict in cld_instances %}
                     <li><span>group: {{ cld_dict['group'] }}</span></li>
                     {% for cld_instance in cld_dict['clouds'] %}
                     <li><a onclick='newtab("cldx/{{ cld_instance }}", "{{ cld_instance.__str__().split('_')[0] }}")' class="nav-link active" id="{{ cld_instance }}-link" data-toggle="tab" href="#{{ cld_instance }}">{{ cld_instance }}</a></li>
                     {% endfor %}
                     {% endfor %}
                  </ul>
               </div>
               <!-- main area -->
               <div class="col-xs-12 col-sm-9">
                  <ul class="nav nav-tabs" id="hostTab" role="tablist">
                     <li class="nav-item active">
                        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true" aria-expanded="true">Home</a>
                     </li>
                  </ul>
                  <div class="tab-content" id="hostTabContent">
                     <div class="tab-pane fade active in" id="first" role="tabpanel" aria-labelledby="first-tab">ClassicDevOps access system terminal</div>
                  </div>
               </div>
               <!-- /.col-xs-12 main -->
            </div>
            <!--/.row-->
         </div>
         <!--/.container-->
      </div>
      <!--/.page-container-->
      {% include 'html/include/footer.html' %}
   </body>
</html>