<html lang="en">
   <head>
      <title>cld web - toolkit</title>
      {% include 'html/include/head.html' %}
   </head>
   <link href="/css/toolkit.css" rel="stylesheet">
   <script type="text/javascript" src="/js/toolkit.js"></script>
   <body>
      <div class="page-container">
         <!-- top navbar -->
         {% include 'html/include/navbar-term.html' %}
         <div class="container term">
            <div class="row row-offcanvas row-offcanvas-left">
               <!-- sidebar -->
               <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="width: 15%;">
                  <input type="text" id="searchInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name">
                  <ul class="nav" id="ServerListUl">
                     <li><a onclick='newdirecttab("bash")' class="nav-link active" id="bash-link" data-toggle="tab" href="#bash">ClassicDevOps terminal</a></li>
                     {% for cld_dict in cld_tools %}
                     <li><span>module: {{ cld_dict['module'] }}</span></li>
                     {% for cld_tool in cld_dict['tools'] %}
                     <li><a onclick='newtab("{{ cld_tool }}")' class="nav-link active" id="{{ cld_tool }}-link" data-toggle="tab" href="#{{ cld_tool }}">{{ cld_tool }}</a></li>
                     {% endfor %}
                     {% endfor %}
                  </ul>
               </div>
               <!-- main area -->
               <div class="col-xs-12 col-sm-9" style="width: 85%;">
                  <ul class="nav nav-tabs" id="hostTab" role="tablist">
                     <li class="nav-item active">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" aria-expanded="true">Home</a>
                     </li>
                  </ul>
                  <div class="tab-content" id="hostTabContent">
                     <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">ClassicDevOps toolkit</div>
                  </div>
               </div>
               <!-- /.col-xs-12 main -->
            </div>
            <!--/.row-->
         </div>
         <!--/.container-->
      </div>
      <!--/.page-container-->
   </body>
</html>