<html lang="en">
   <head>
      <title>cld web - toolkit</title>
      {% include 'html/include/head.html' %}
      <style>
         #ServerListUl li a {
         border: 1px solid #1e88e5;
         margin: 0px;
         background-color: white;
         padding: 0px;
         padding-left: 4px;
         text-decoration: none;
         display: block;
         font-size: 14;
         color: lightslategray;
         border-right-width: 0;
         border-left-width: 0;
         border-bottom-width: 0;
         }
         /*#searchInput {
         background-position: 10px 12px;
         background-repeat: no-repeat;
         width: 95%;
         font-size: 14px;
         padding: 5px 10px 5px 10px;
         border: 1px solid #1e88e5;
         margin-bottom: 12px;
         }
         #ServerListUl {
         list-style-type: none;
         padding: 0;
         margin: 0;
         }
         #ServerListUl li a:hover:not(.header) {
         background-color: #eee;
         }
         #ServerListUl li span {
         color: gray;
         font-size: small;
         font-weight: bold;
         font-variant-caps: petite-caps;
         }
         #ServerListUl li span:hover:not(.header) {
         background-color: #eee;
         }
         */
      </style>
      <script>
         function appendtab(id, util) {
             $('#hostTab').append('<li class="nav-item" id="' + id + '-li"><a class="nav-link" id="' + id + '-tab" data-toggle="tab" href="#' + id + '" role="tab" aria-controls="' + id + '" aria-selected="false"><button class="closetab" type="button" onclick="document.getElementById(\'' + id + '-li\').remove();document.getElementById(\'' + id + '\').remove();">×</button><button class="refreshtab" type="button" onclick="updatetab(\''+id+'\', \''+util+'\')">⟳</button>' + util + '</a></li>'
             );
         }
         function appendform(id, util) {
             $('#'+id).append('<form onsubmit="openutil(\''+id+'\', \''+util+'\')">        <div class="form-group">          <label for="Arguments">Tool arguments:</label>          <input type="text" class="form-control" id="'+id+'-arg" placeholder="--arg1=value1 --arg2=value2 --debug">        </div>        <button type="button" class="btn btn-primary" onclick="openutil(\''+id+'\', \''+util+'\')" style="width: 10%;">Run</button>        </form>')
         }
         function appendcontent(id, util) {
             $('#hostTabContent').append('<div class="tab-pane fade" id="' + id + '" role="tabpanel" aria-labelledby="' + id + '-tab"></div>');
             document.getElementById(id + "-tab").click();
             appendform(id, util);
             $.ajax({type : 'GET', url: "/help/"+util, dataType : 'text',
                 success: function (data) {
                 $('#'+id).append('<pre>'+data+'</pre>')
                 }
             });
         }
         function appendframe(id, util) {
             $('#hostTabContent').append('<div class="tab-pane fade" id="' + id + '" role="tabpanel" aria-labelledby="' + id + '-tab"></div>');
             document.getElementById(id + "-tab").click();
             sleep(250).then(() => {
             $('#'+id).html('<iframe id="frame-' + id + '" width="800" height="800" style="visibility:visible;height: 70%; width: 100%; resize: both; border: 0px;" src="/tool/'+util+'/"></iframe>');
             });
             }
         function openutil(id, util) {
             var args = document.getElementById(id+'-arg').value;
             $('#'+id).html('<iframe id="frame-' + id + '" width="800" height="800" style="visibility:visible;height: 70%; width: 100%; resize: both; border: 0px;" src="/tool/'+util+'/'+args+'"></iframe>');
             sleep(250).then(() => {
             console.log("document.getElementById('frame-"+id+"').contentWindow.document.getElementsByClassName('xterm-cursor-layer')[0].click();")
             document.getElementById('frame-' + id).contentDocument.querySelector('.xterm-helper-textarea').focus();
             });
             };
         function newtab(util) {
             var id = idgen();
             appendtab(id, util);
             appendcontent(id, util);
         };
         function newdirecttab(util) {
             var id = idgen();
             appendtab(id, util);
             appendframe(id, util);
         };
         function updatetab(id, util) {
             $('#'+id).html('')
             appendcontent(id, util);
         };
      </script>
      <script>
         function search() {
             var input, filter, ul, li, a, i, txtValue;
             input = document.getElementById("searchInput");
             filter = input.value.toUpperCase();
             ul = document.getElementById("ServerListUl");
             li = ul.getElementsByTagName("li");
             for (i = 0; i < li.length; i++) {
                 a = li[i].getElementsByTagName("a")[0] || li[i].getElementsByTagName("span")[0];
                 txtValue = a.textContent || a.innerText;
                 if (txtValue.toUpperCase().indexOf(filter) > -1) {
                     li[i].style.display = "";
                 } else {
                     li[i].style.display = "none";
                 }
             }
         }
      </script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
             $('[data-toggle=offcanvas]').click(function() {
                 $('.row-offcanvas').toggleClass('active');
             });
         });
      </script>
   </head>
   <body>
      <div class="page-container">
         <!-- top navbar -->
         {% include 'html/include/navbar-term.html' %}
         <div class="container term">
            <div class="row row-offcanvas row-offcanvas-left">
               <!-- sidebar -->
               <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="width: 15%;">
                  <input type="text" id="searchInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name">
                  <ul class="nav" id="ServerListUl">
                     <li><a onclick='newdirecttab("bash")' class="nav-link active" id="bash-link" data-toggle="tab" href="#bash">classicdeploy terminal</a></li>
                     {% for cld_dict in cld_tools %}
                     <li><span>module: {{ cld_dict['module'] }}</span></li>
                     {% for cld_tool in cld_dict['tools'] %}
                     <li><a onclick='newtab("{{ cld_tool }}")' class="nav-link active" id="{{ cld_tool }}-link" data-toggle="tab" href="#{{ cld_tool }}">{{ cld_tool }}</a></li>
                     {% endfor %}
                     {% endfor %}
                  </ul>
               </div>
               <!-- main area -->
               <div class="col-xs-12 col-sm-9" style="width: 85%;">
                  <ul class="nav nav-tabs" id="hostTab" role="tablist">
                     <li class="nav-item active">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" aria-expanded="true">Home</a>
                     </li>
                  </ul>
                  <div class="tab-content" id="hostTabContent">
                     <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">Classic deploy toolkit</div>
                  </div>
               </div>
               <!-- /.col-xs-12 main -->
            </div>
            <!--/.row-->
         </div>
         <!--/.container-->
      </div>
      <!--/.page-container-->
   </body>
</html>