<html lang="en">
  <head>
    <title>cld web - admin - user</title>
    {% include 'html/include/head.html' %}
  </head>
  <script>
    function savedata(id, url) {
            $.ajax({
                url : url,
                type: "POST",
                data : $('#'+id).serialize(),
                cache: false,
                processData:false,
                success: function (data) {
                    $('#'+id+'-button').addClass('btn-success').removeClass('btn-primary');
                    sleep(500).then(() => {
                    $('#'+id+'-button').addClass('btn-primary').removeClass('btn-success');
                    });
                    console.log('Data saved');
                    },
                error: function (data) {
                    $('#'+id+'-button').addClass('btn-danger').removeClass('btn-primary');
                    sleep(500).then(() => {
                    $('#'+id+'-button').addClass('btn-primary').removeClass('btn-danger');
                    });
                    console.log('An error occurred while saving data');
                    }
            })
    
    }
  </script>
  <body>
    <div class="page-container">
      <!-- top navbar -->
      {% include 'html/include/navbar.html' %}
      <div class="container">
        <div class="panel-body">
          <table style="font-weight: 300;width:100%;" id="opened" class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr style="cursor: pointer;">
                <td>#</td>
                <td style="width: 35%%">User</td>
                <td>Role</td>
                <td>Groups</td>
                <td>Last login</td>
                <td style="width: 92;">Status</td>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              {% if user.status == '1' %}{% set status = 'Active' %}{% set style = 'success' %}{% set link = url_for('disableuser', name=users[0].user) %}{% elif user.status == '0' %}{% set status = 'Deactivated' %}{% set style = 'warning' %}{% set link = url_for('enableuser', name=users[0].user) %}{% else %}{% set status = 'Undefined' %}{% set statusstyle = 'success' %}{% endif %}
              {% if user.role == '1' %}{% set role = 'Administrator' %}{% elif user.role == '0' %}{% set role = 'Member' %}{% else %}{% set role = 'Undefined' %}{% endif %}
              <tr>
                <td>{{ user.userid }}</td>
                <td><a href="{{ url_for('user', name=user.user) }}">{{ user.user }}</a></td>
                <td>{{ role }}</td>
                <td>{{ user.groups }}</td>
                <td>{{ user.lastlogin }}</td>
                <td> <a href="{{ link }}" class="btn-sm btn-{{ style }}" data-toggle="tooltip" '="" data-original-title="" title="">{{ status }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="panel-body">
            <p>Groups:</p>
            <form id="usergroups" style="margin: 0px;">
              {% for group in allgroups %}
              {% if group in users[0].groups %}{% set boxstatus = ' checked' %}{% else %}{% set boxstatus = '' %}{% endif %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="{{ group }}"{{ boxstatus }}>
                <label class="form-check-label">{{ group }}</label>
              </div>
              {% endfor %}
            </form>
            <button id="usergroups-button" onclick="savedata('usergroups', '{{ url_for('usergroups', name=users[0].user) }}')" class="btn btn-primary bt mb-2" style="float: right">Apply groups</button>
            <br><hr>
            <p>Modules:</p>
            <form id="usermodules" style="margin: 0px;">
              {% for module in allmodules %}
              {% if module in users[0].modules %}{% set boxstatus = ' checked' %}{% else %}{% set boxstatus = '' %}{% endif %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="{{ module }}"{{ boxstatus }}>
                <label class="form-check-label">{{ module }}</label>
              </div>
              {% endfor %}
            </form>
            <button id="usermodules-button" onclick="savedata('usermodules', '{{ url_for('usermodules', name=users[0].user) }}')" class="btn btn-primary bt mb-2" style="float: right">Apply modules</button>
            <br><hr>
            <p>Tools:</p>
            <form id="usertools" style="margin: 0px;">
              {% for tool in alltools %}
              {% if tool in users[0].tools %}{% set boxstatus = ' checked' %}{% else %}{% set boxstatus = '' %}{% endif %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="{{ tool }}"{{ boxstatus }}>
                <label class="form-check-label">{{ tool }}</label>
              </div>
              {% endfor %}
            </form>
            <button id="usertools-button" onclick="savedata('usertools', '{{ url_for('usertools', name=users[0].user) }}')" class="btn btn-primary bt mb-2" style="float: right">Apply tools</button>
            <br><hr>
            <p>Clouds:</p>
            <div class="subject-info-box-1">
              <script type="text/javascript">
                function selectAll() 
                { 
                    selectBox = document.getElementById("lstBox1");
                
                    for (var i = 0; i < selectBox.options.length; i++) 
                    { 
                         selectBox.options[i].selected = true; 
                    } 
                }
              </script>
              <form id="userclouds">
                <select multiple size="1" name="allowclouds" id='lstBox1' class="content-info-box form-control">
                  {% for cloud in allowedclouds %}
                  <option value="{{ cloud }}">{{ cloud }}</option>
                  {% endfor %}
                </select>
              </form>
            </div>
            <div class="subject-info-arrows text-center">
              <input type="button" id="btnAllRight" value=">>" class="btn btn-default" /><br />
              <input type="button" id="btnRight" value=">" class="btn btn-default" /><br />
              <input type="button" id="btnLeft" value="<" class="btn btn-default" /><br />
              <input type="button" id="btnAllLeft" value="<<" class="btn btn-default" />
            </div>
            <div class="subject-info-box-2">
              <select multiple="multiple" id='lstBox2' class="content-info-box form-control">
                {% for cloud in disallowedclouds %}
                <option value="{{ cloud }}">{{ cloud }}</option>
                {% endfor %}
              </select>
            </div>
            <br>
            <div class="clearfix"></div>
            <br>
            <button id="userclouds-button" onclick="selectAll();savedata('userclouds', '{{ url_for('userclouds', name=users[0].user) }}')" class="btn btn-primary bt mb-2" style="float: right">Apply clouds</button>
            <br><hr>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/ace.js" type="text/javascript" charset="utf-8"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/keybinding-sublime.min.js"></script>
                        <script>
                           var editor = [];
                           function aceactivate(file)
                           {
                           ace.edit(file+'Pre', {
                               theme: "ace/theme/monokai",
                               keyboardHandler: "ace/keyboard/sublime",
                               foldStyle: "markbeginend",
                               mode: "ace/mode/autohotkey",
                               maxLines: 40,
                               minLines: 5,
                               wrap: true,
                               showPrintMargin: false,
                               autoScrollEditorIntoView: true,
                               highlightSelectedWord: true
                           });
                           editor[file+'Pre'] = ace.edit(file+'Pre');
                           editor[file+'Pre'].renderer.setScrollMargin(10, 15, 0, 0);
                           $('#'+file+'Area').val(editor[file+'Pre'].getSession().getValue());
                           editor[file+'Pre'].getSession().on('change', function () {
                              $('#'+file+'Area').val(editor[file+'Pre'].getSession().getValue());
                           });
                           }
                           function savefile(id, url) {
                                   $.ajax({
                                       url : url,
                                       type: "POST",
                                       data : $('#'+id).serialize(),
                                       cache: false,
                                       processData:false,
                                       success: function (data) {
                                           $('#'+id+'-button').addClass('btn-success').removeClass('btn-primary');
                                           sleep(500).then(() => {
                                           $('#'+id+'-button').addClass('btn-primary').removeClass('btn-success');
                                           });
                                           console.log('File saved');
                                           },
                                       error: function (data) {
                                           $('#'+id+'-button').addClass('btn-danger').removeClass('btn-primary');
                                           sleep(500).then(() => {
                                           $('#'+id+'-button').addClass('btn-primary').removeClass('btn-danger');
                                           });
                                           console.log('An error occurred while saving data');
                                           }
                                   })
                           
                           }
                        </script>
                        {% for file in files %}
                        {% set fileid = file.replace('/', '_').replace('.', '_') %}
                        <form id="{{ fileid }}">
                           <textarea id="{{ fileid }}Name" name="file" style="display: none;">{{ file }}</textarea>
                           <textarea id="{{ fileid }}Area" name="content" style="display: none;"></textarea>
                        </form>
                        <div class="prefile">{{ file }}</div>
                        <pre id="{{ fileid }}Pre">{{ files[file] }}</pre>
                        <button id="{{ fileid }}-button" onclick="savefile('{{ fileid }}', '{{ url_for('adminsavefile') }}')" class="btn btn-primary bt mb-2">Save {{ file }}</button><br><hr>
                        <script>
                           aceactivate('{{ fileid }}')
                        </script>
                        {% endfor %}

            <br><hr>
            <!-- <form action="{{ url_for('deluser', name=users[0].user) }}" class="form-inline" style="float: right;" method="GET">  
              <input type="text" name="name" value="{{ users[0].user }}" style="display: none"> -->
            <br><a href="{{ url_for('deluser', name=users[0].user) }}" style="float: right;"><button type="submit" class="btn btn-danger bt mb-2">Delete user</button></a>
            <!-- </form> -->
          </div>
        </div>
        <!-- sidebar -->
        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
    <!--/.page-container-->
    <script type="text/javascript">
      (function () {
          $('#btnRight').click(function (e) {
              var selectedOpts = $('#lstBox1 option:selected');
              if (selectedOpts.length == 0) {
                  alert("Nothing to move.");
                  e.preventDefault();
              }
              $('#lstBox2').append($(selectedOpts).clone());
              $(selectedOpts).remove();
              e.preventDefault();
          });
          $('#btnAllRight').click(function (e) {
              var selectedOpts = $('#lstBox1 option');
              if (selectedOpts.length == 0) {
                  alert("Nothing to move.");
                  e.preventDefault();
              }
              $('#lstBox2').append($(selectedOpts).clone());
              $(selectedOpts).remove();
              e.preventDefault();
          });
          $('#btnLeft').click(function (e) {
              var selectedOpts = $('#lstBox2 option:selected');
              if (selectedOpts.length == 0) {
                  alert("Nothing to move.");
                  e.preventDefault();
              }
              $('#lstBox1').append($(selectedOpts).clone());
              $(selectedOpts).remove();
              e.preventDefault();
          });
          $('#btnAllLeft').click(function (e) {
              var selectedOpts = $('#lstBox2 option');
              if (selectedOpts.length == 0) {
                  alert("Nothing to move.");
                  e.preventDefault();
              }
              $('#lstBox1').append($(selectedOpts).clone());
              $(selectedOpts).remove();
              e.preventDefault();
          });
      }(jQuery));
    </script>
  </body>
</html>