    @charset "UTF-8";

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

p {
    margin: 0;
}

.win-size-grip {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 0;
    right: 0;
    z-index: 5000;
    cursor: nwse-resize;
    -webkit-clip-path: polygon(100% 0,100% 100%,0 100%);
    clip-path: polygon(100% 0,100% 100%,0 100%);
    background: repeating-linear-gradient(135deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,.5) 2px,#000 0,#000 4px);
}

iframe {
border-radius: 4px;
}

.prein {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    white-space: pre-wrap;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.prelink {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    white-space: pre-wrap;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: text;
}

.dpl_del_file_btn {
    float: right;
    margin-top: -20px;
    margin-right: -10px;
    padding: 0px 4px;
}

.ace_editor {
    border-radius: 0px 0px 4px 4px;
    border: 1px solid lightgray;
    margin: 0px;
    height: 200px;
    width: 100%;
}

.scrollmargin {
    height: 80px;
    text-align: center;
}

.aceinit {
    margin: -1px;
    padding: 0px;
}

li span a {
    color: gray !important;
    padding-left: 0px !important;
    font-size: 12px !important;
}

@font-face {
    font-family: 'D3 Euronism';
    font-style: normal;
    font-weight: normal;
    src: local('D3 Euronism'), url('/font/D3Euronism.woff') format('woff');
}

.tab-content>.active {
    padding-top: 10px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
}

.paymentWrap {
/*	padding: 50px;*/
	margin-left: -5px;
}
label {
    font-weight: 100;
}

.btn-group>.btn:first-child {
    margin-left: -1px;
}

.paymentWrap .paymentBtnGroup {
	max-width: 100%;
	margin: auto;
	color: #e6e6e6;
	
}
.paymentWrap .paymentBtnGroup .paymentMethod {
    padding: 112px;
    box-shadow: none;
    position: relative;
    display: table-cell;
    float: left;
}

.paymentWrap .paymentBtnGroup .paymentMethod.active {
	outline: none !important;
	
}

.paymentWrap .paymentBtnGroup .paymentMethod.active .method {
	border-color: #0275d8;
	color: #0275d8;
	outline: none !important;

}

.paymentWrap .paymentBtnGroup .paymentMethod .method {
	position: absolute;
	right: 3px;
	top: 3px;
	bottom: 3px;
	left: 3px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	color: #0275d8;
	transition: all 0.1s;
}




.paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
	border-color: #0275d8;
	outline: none !important;
}

.subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width: 45%;
    height: 25%;
}

.content-info-box {
    float: left;
    width: 100%;
    height: 100% !important;
}

.subject-info-arrows {
    float: left;
    width: 10%;
    input {
        width: 70%;
        margin-bottom: 5px;
    }
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.form-check-input:disabled ~ .form-check-label {
  color: #6c757d;
}

.form-check-label {
  margin-bottom: 0;
}

.form-check-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

.ad {
position: absolute;
bottom: 70px;
right: 48px;
z-index: 992;
background-color: white;
position: fixed;
width: 155px;
padding: 1px;
}

.ad-btn-hide {
position: absolute;
top: -10px;
left: -12px;
background: #fefefe;
background: rgba(240, 240, 240, 0.9);
border: 0;
border-radius: 26px;
cursor: pointer;
padding: 2px;
height: 25px;
width: 25px;
font-size: 14px;
vertical-align: top;
outline: 0;
}

.carbon-img {
float: left;
padding: 10px;
}

.carbon-text {
color: #888;
display: inline-block;
font-family: Verdana;
font-size: 11px;
font-weight: 400;
height: 60px;
margin-left: 9px;
width: 142px;
padding-top: 10px;
}

.carbon-text:hover {
color: #666;
}

.carbon-poweredby {
color: #6A6A6A;
float: left;
font-family: Verdana;
font-size: 11px;
font-weight: 400;
margin-left: 10px;
margin-top: 13px;
text-align: center;
}

.page-container {
/*    padding-top: 5px;*/
}

.dropdown-menu {
    min-width: unset;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.refreshtab {
    margin-right: 3;
    font-size: 14px;
    line-height: 1.5; 
    float: left;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;

    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.closetab {
    margin-left: 3;
    font-size: 20px;
    line-height: 1;
    float: right;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;

    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

    .navbar-default {
         background-color: white; 
        border-color: white;
    }

.nav-tabs {
    border-bottom: 1px solid #1e88e5;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #1e88e5;
    border-bottom-color: transparent;
}

    .navbar-default .navbar-toggle {
       border-color: white;
    }

    .navbar-default .navbar-brand {
        color: #1e88e5;
        padding: 20px 0px 0px 15px;
    }

    a.navbar-brand.nav-logo {
        font-family: 'D3 Euronism';
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 2px;
        padding-left: -5px;
    }

    .ng-animate-start {
        clip: rect(0, auto, auto, 0);
        -ms-zoom: 1.0001;
    }

    .ng-animate-active {
        clip: rect(-1px, auto, auto, 0);
        -ms-zoom: 1;
    }

    body {
        padding-top: 51px;
        font-family: sans-serif;
    }

    .text-center {
        padding-top: 20px;
    }

    .col-xs-12 {
        background-color: #fff;
    }

    #sidebar {
        height: 100%;
        padding-right: 0;
/*        padding-top: 20px;*/
    }

    #sidebar .nav {
        width: 95%;
    }

    #sidebar li {
        border: 0 #f2f2f2 solid;
        border-bottom-width: 1px;
    }

    @media screen and (max-width: 2560px) {
      div.container.term {
        width: 80%;
      }
    }

    @media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -12px;
    }
    }

    /* collapsed sidebar styles */
    @media screen and (max-width: 767px) {
        .row-offcanvas {
            position: relative;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }

        .row-offcanvas-right .sidebar-offcanvas {
            right: -41.6%;
        }

        .row-offcanvas-left .sidebar-offcanvas {
            left: -41.6%;
        }

        .row-offcanvas-right.active {
            right: 41.6%;
        }

        .row-offcanvas-left.active {
            left: 41.6%;
        }

        .sidebar-offcanvas {
            position: absolute;
            top: 0;
            width: 41.6%;
        }

        #sidebar {
            padding-top: 0;
        }
    }

    .iw-contextMenu {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10);
        border: 1px solid #c8c7cc;
        border-radius: 11px;
        display: none;
        z-index: 1000000132;
        max-width: 300px;
    }

    .iw-cm-menu {
        background: #fff;
        color: #000;
        margin: 0px;
        padding: 0px;
    }

    .iw-curMenu {}

    .iw-cm-menu li {
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, Ubuntu, sans-serif;
        list-style: none;
        padding: 10px;
        padding-right: 20px;
        border-bottom: 1px solid #c8c7cc;
        cursor: pointer;
        position: relative;
        font-size: 14px;
        margin: 0;
        line-height: inherit;
    }

    .iw-cm-menu li:first-child {
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
    }

    .iw-cm-menu li:last-child {
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px;
        border-bottom: none;
    }

    .iw-mOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: #FFF;
        opacity: .5;
    }

    .iw-contextMenu li.iw-mDisable {
        opacity: 0.3;
        cursor: default;
    }

    .iw-mSelected {
        background-color: #F6F6F6;
    }

    .iw-cm-arrow-right {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #000;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -5px;
    }

    .iw-mSelected>.iw-cm-arrow-right {}

    @-webkit-keyframes load4 {

        0%,
        100% {
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
        }

        12.5% {
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }

        25% {
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }

        37.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }

        50% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }

        62.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
        }

        75% {
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
        }

        87.5% {
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
        }
    }

    @keyframes load4 {

        0%,
        100% {
            box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
        }

        12.5% {
            box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }

        25% {
            box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
        }

        37.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }

        50% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
        }

        62.5% {
            box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
        }

        75% {
            box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
        }

        87.5% {
            box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
        }
    }




