::-webkit-scrollbar {width: 5px; height: 5px;}
::-webkit-scrollbar-track {background: #000000;}
::-webkit-scrollbar-thumb {background: #747473;}
::-webkit-scrollbar-thumb:hover {background: #555;}

.kreCXJ {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.85714em;
    line-height: 1.6em;
    color: #276ca6 !important;
}

.chOOHy {
    padding: 40px 0px 0px 0px !important;
}

h1.sc-fujyAs.kreCXJ {
  margin-bottom: 0px;
}

h2.sc-pNWdM.loDKCl {
  margin-bottom: 0px;
}

img.sc-csTbgd.hMfjWa {
    margin: 20px 0px 10px 0px;
    padding: 0px;
}

div.sc-cTApHj.fVRyQa {
  padding: 5px 20px 20px 20px;
  margin: 0px;
}

pre.sc-jNnpgg.sc-dPaNzc.crBktj.FNwuy {
  line-height: inherit;
  white-space: pre !important;
  overflow-x: scroll;
}

div.sc-hKFxyN.gHYYBK.api-info p {
  display: none;
}

span.sc-gIvpjk.juglBf.operation-type.options {
  background-color: rgb(39 108 166);
  text-indent: -9999px;
  line-height: 0;
  visibility: hidden;
}

span.sc-gIvpjk.juglBf.operation-type.options:after {
  background-color: rgb(39 108 166);
  content: "bash";
  text-indent: 0;
  display: block;
  line-height: 13px;
  visibility: visible;
  height: 13px;
  vertical-align: middle;
  border-radius: 3px;
}

.sc-kEqXSa {
  text-indent: -9999px;
  line-height: 0;
  visibility: hidden;
}

.sc-kEqXSa:after {
  content: "Usage examples";
  text-indent: 0;
  display: block;
  line-height: 21px;
  visibility: visible;
}

div.sc-bQCEYZ.clEuW {
  display: none;
}

svg.sc-dIsUp.bvUgLx {
  display: none !important;
}

svg.sc-dIsUp.ldRhaj {
  display: none !important;
}

span.sc-jHcXXw.cBzGlt.http-verb.options {
  text-indent: -9999px;
  line-height: 0;
  visibility: hidden;
}

span.sc-jHcXXw.cBzGlt.http-verb.options:after {
  content: "bash";
  text-indent: 0;
  display: block;
  line-height: 26px;
  visibility: visible;
  font-size: 0.929em;
  line-height: 20px;
  background-color: rgb(39 108 166);
  color: rgb(255, 255, 255);
  padding: 3px 10px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  margin: 0px;
}

pre {
  font-size: 13px !important;
  line-height: normal;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  border: 1px solid #ffffff2b !important;
  border-radius: 2px !important;
}

.emjsJn pre {
    line-height: inherit;
    white-space: pre !important;
    overflow-x: scroll !important;
    border-radius: 5px !important;
    border: 1px solid #276ca6 !important;
}